#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: max-content;
    height: 25vh;
    padding: 1% 5%;
    background-color: #b61271;
    box-shadow: 5px 5px #333030;
}
.dropdown{
    width: 100%;
    margin-bottom: 10%;
    border-radius: 5% !important;
}
.textbox{
    margin-bottom: 10%;
    border-radius: 5%;
}
.submit{
    border-radius: 10%;
    font-weight: 700;
}