header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: rgb(255, 255, 255);
}
#logo2{
    width: 30vw;
    height: auto;
}
#logo1{
    height: 15vh;
    width: auto;
}