<!-- {% comment %} <!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page</title>
    <link rel="stylesheet" href="{% static 'css/Admin.css' %}" />
    <script src="{% static 'js/Admin.js' %}"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    {% include "header.html" %}

    <button id="logout-button" onclick="logout()">Logout</button>

    <div id="main-div">
      <div id="sidebar">
        <ul>
          <li>
            <i class="fa-solid fa-graduation-cap"></i>
            <a href="#">Student ></a>
            <div class="student-sub-nav sub-nav">
              <ul>
                <li id="marks-sub-nav">
                  <a href="#">View Marks</a>
                  <!-- InsertStudentMarks (for both inserting and editing) -->
                  <!-- GetStudentMarksWithMax (to view) 
                  <div class="marks-sub-sub-nav sub-sub-nav">
                    <ul>
                      <li>
                        <a href="#" onclick="showTextBox('semester')"
                          >View by Semester</a
                        >
                      </li>
                      <li>
                        <a href="#" onclick="showTextBox('section')"
                          >View by Section</a
                        >
                      </li>
                      <li>
                        <a href="#" onclick="showTextBox('subject')"
                          >View by Subject Code</a
                        >
                      </li>
                    </ul>
                  </div>
                </li>
                <li id="attendance-sub-nav">
                  <a href="#">View Attendance</a>
                  <div class="attendance-sub-sub-nav sub-sub-nav">
                    <ul>
                      <li>
                        <a href="#" onclick="showTextBox('semester')"
                          >View by Semester</a
                        >
                      </li>
                      <li>
                        <a href="#" onclick="showTextBox('section')"
                          >View by Section</a
                        >
                      </li>
                      <li>
                        <a href="#" onclick="showTextBox('subject')"
                          >View by Subject Code</a
                        >
                      </li>
                    </ul>
                  </div>
                </li>
                <li><a href="#">See All Students</a></li>
              </ul>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-book-open"></i>
            <a href="#">Subject ></a>
            <div class="subject-sub-nav sub-nav">
              <ul>
                <li><a href="#">Add New Subject</a></li>
                <li><a href="#">Edit Existing Subject</a></li>
                <li><a href="#">Delete Existing Subject</a></li>
                <li><a href="#">Assign Faculty to Subject</a></li>
                <li><a href="#">View Subject Details</a></li>
              </ul>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-chalkboard-user"></i>
            <a href="#">Faculty ></a>
            <div class="faculty-sub-nav sub-nav">
              <ul>
                <li><a href="#">View Faculty Details</a></li>
              </ul>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-users-rectangle"></i>
            <a href="#">Users ></a>
            <div class="users-sub-nav sub-nav">
              <ul>
                <li onclick="AddUser()"><a href="#">Add User</a></li>
                <li onclick="DeleteUser()"><a href="#">Edit User</a></li>
                <li onclick="DeleteUser()"><a href="#">Delete User</a></li>
              </ul>
            </div>
          </li>
          <li id="profile-button">
            <i class="fa-solid fa-user"></i>
            <a href="#">User Profile</a>
          </li>
        </ul>
      </div>
      <div id="hero"></div>
    </div>

    {% include "footer.html" %}
  </body>
</html> {% endcomment %} -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page</title>
    <link rel="stylesheet" href="{% static 'css/Admin.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Footer.css' %}" />
    <script src="{% static 'js/Admin.js' %}"></script>
</head>
<body>
    {% include 'header.html'%}
    <div class="navbar">
        <ul class="nav-links">
            <li class="dropdown">
                <a>Student <span class="dropdown-icon">&#9662;</span></a>
                <div class="dropdown-content">
                    <a id="view-student-marks-link">View Student Marks</a>
                    <a>View Student Attendance</a>
                    <a>View All Students</a>
                </div>
            </li>
            <li class="dropdown">
                <a>Subject <span class="dropdown-icon">&#9662;</span></a>
                <div class="dropdown-content">
                    <a>View Subject Details</a>
                    <a>Add Subject</a>
                    <a>Edit Subject</a>
                    <a>Delete Subject</a>
                </div>
            </li>
            <li class="dropdown">
                <a>Faculty <span class="dropdown-icon">&#9662;</span></a>
                <div class="dropdown-content">
                    <a>View Faculty Details</a>
                    <a>Assign Faculty to Subject</a>
                    <a>View Faculty-Subject Assignments</a>
                </div>
            </li>
            <li class="dropdown">
                <a>Users <span class="dropdown-icon">&#9662;</span></a>
                <div class="dropdown-content">
                    <a>View Users</a>
                    <a id="add-user-btn">Add User</a>
                    <a>Edit User</a>
                    <a>Delete User</a>
                </div>
            </li>
        </ul>
        <div>
          <button class="get-help-btn">Get Help</button>
          <button class="logout-btn" onclick="Logout('{{FID}}')">Log Out</button>
        </div>
    </div>
    <div id="main-div">
      <!-- Other content of the dashboard goes here -->
    </div>

    {% comment %} <div id="main-div">
      <div id="hero">
          <!-- This is where the form for adding a new student will be generated -->
          <div id="add-student-form" style="display: block;">
              <form id="student-form">
                  
                <label for="usn">USN:</label>
        <input type="text" id="usn" name="usn" required><br><br>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
        </select><br><br>

        <label for="dateOfBirth">Date of Birth:</label>
        <input type="date" id="dateOfBirth" name="dateOfBirth" required><br><br>

        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" required><br><br>

        <label for="parentNumber">Parent's Phone:</label>
        <input type="tel" id="parentNumber" name="parentNumber" pattern="[0-9]{10}" required><br><br>

        <label for="section">Section:</label>
        <input type="text" id="section" name="section" required><br><br>

        <label for="userEmail">Email:</label>
        <input type="email" id="userEmail" name="userEmail" required><br><br>

        <label for="userPassword">Password:</label>
        <input type="password" id="userPassword" name="userPassword" required><br><br>

        <input type="hidden" id="roleId_id" name="roleId_id" value="1">

        <input type="submit" value="Submit">

              </form>
          </div>
      </div>
      <!-- Other content of the dashboard goes here -->
  </div> {% endcomment %}
  {% include 'footer.html'%}
  <script>
    function Logout(FID){
      var home = "{% url 'Logout' %}?utk="+ encodeURIComponent(FID);
      window.location.href = home;
    };
      var studentMarksURL = "{% url 'GetStudentMarksWithMax' %}";
  </script>
</body>
</html>
