{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/ErrorPage.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h2>Oops! Page not found.</h2>

      <div class="errortype">{{status}}</div>
      <img src="{% static 'images/Error.jpeg' %}" alt="Error Image" />

      <h4>{{message}}</h4>
      <button type="button" class="butt" onclick="gohome()">
        <i class="fa-solid fa-arrow-left" style="color: #ffffff"></i> GO BACK
        HOME
      </button>
    </div>
    <script>
      function gohome() {
        var home = "{% url 'Login' %}";
        window.location.href = home;
      }
    </script>
  </body>
</html>
