{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/FacultyDash.css' %}">
    <link rel="stylesheet" href="{% static 'css/Header.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Faculty Dashboard</title>
</head>
<body>
    {% include "header.html" %}
    <main>
        <button class="logout-btn" onclick="Logout('{{FID}}')">Log Out</button>
        <div class="maincontainer">
            <div class="profile-card">
                <div class="profile-img">
                    <img src="{% static 'images/facultyIcon.svg' %}" alt="Faculty Icon">
                </div>
                <div class="profile-info">
                    <h2>{{NAME}}</h2>
                    <ul>
                        <li><strong>Faculty ID:</strong> {{FID}}</li>
                        <li><strong>Access Provided:</strong> {{USERTYPE}}</li>
                        <li><strong>Gender:</strong> {{GENDER}}</li>
                        <li><strong>Phone:</strong> {{PHONE}}</li>
                        <li><strong>Email:</strong> {{EMAIL}}</li>
                    </ul>
                </div>
            </div>
            <div class="actions">
              <div class="card mt-4" style="max-width: 20rem;">
                <div class="card-body" onclick="getStudentMarksWithMax('{{FID}}')">
                  <h5 class="card-title">VIEW MARKS</h5>
                  <p class="card-text">Check the marks of all students, in the subjects you teach.</p>
                </div>
              </div>
              <div class="card mt-4" style="max-width: 20rem;">
                <div class="card-body" onclick="editStudentMarksWithMax('{{FID}}')">
                  <h5 class="card-title">EDIT MARKS</h5>
                  <p class="card-text">Add, Delete and Update the marks of your students.</p>
                </div>
              </div>
              <div class="card" style="max-width: 20rem;">
                <div class="card-body" onclick="getAttendance('{{FID}}')">
                  <h5 class="card-title">VIEW ATTENDANCE</h5>
                  <p class="card-text">Check the attendance of your students in your subjects.</p>
                </div>
              </div>
              <div class="card" style="max-width: 20rem;">
                <div class="card-body" onclick="editAttendance('{{FID}}')">
                  <h5 class="card-title">EDIT ATTENDANCE</h5>
                  <p class="card-text">Add, Delete and Update the attendance of your students.</p>
                </div>
              </div>
              <div class="card mb-4" style="grid-column: span 2;">
                <div class="card-body" onclick="getSubjects('{{FID}}')">
                  <h5 class="card-title">VIEW SUBJECTS</h5>
                  <p class="card-text">Check all the subjects you are assigned to teach.</p>
                </div>
              </div>
              {% comment %} No editing access for subject mapping for faculties. Contact the ADMIN. {% endcomment %}
            </div>
        </div>
    </main>
    {% include "footer.html" %}
    <script src="{% static 'js/FacultyDash.js' %}"></script>
    <script>
    function getStudentMarksWithMax(FID) {
        var marksUrl = "{% url 'get_student_marks' %}?user_type_key=" + encodeURIComponent(FID) + "&type=v";
        window.location.href = marksUrl;
    }
    
    function getAttendance(FID) {
        var attendanceUrl = "{% url 'get_student_attendance' %}?user_type_key=" + encodeURIComponent(FID) + "&type=v";
        window.location.href = attendanceUrl;
    }
    
    function getSubjects(FID) {
        var subjectsUrl = "{% url 'GetSubjects' %}?user_type_key=" + encodeURIComponent(FID);
        window.location.href = subjectsUrl;
    }

    function editStudentMarksWithMax(FID){
        var marksUrl = "{% url 'get_student_marks' %}?user_type_key=" + encodeURIComponent(FID) + "&type=e";
        window.location.href = marksUrl;
    }
    
    function editAttendance(FID){
        var attendanceUrl = "{% url 'get_student_attendance' %}?user_type_key=" + encodeURIComponent(FID) + "&type=e";
        window.location.href = attendanceUrl;
    }

    function Logout(FID){
      var home = "{% url 'Logout' %}?utk="+ encodeURIComponent(FID);
      window.location.href = home;
    }
    </script>
</body>
</html>

