{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/StudentDash.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Footer.css' %}" />
    <script src="{% static 'js/StudentDash.js' %}"></script>
    <title>Student Dashboard</title>
  </head>
  <body>
    {% include "header.html" %}
    <div id="student-details">
      <div class="hero">
        <div class="column">
          <h2>Student</h2>
          <img src="{% static 'images/studentIcon.jpg' %}" alt="Student Icon" />
        </div>
        <div class="column details">
          <p><strong>Name:</strong> {{NAME}}</p>
          <p><strong>USN:</strong> {{USN}}</p>
          <p><strong>Sem:</strong> {{SEMESTER}}</p>
          <p><strong>Section:</strong> {{SECTION}}</p>
          <p><strong>Date of Birth:</strong> {{DOB}}</p>
          <p><strong>Phone:</strong> {{PHONENUMBER}}</p>
          <p><strong>Email:</strong> {{EMAIL}}</p>
          <p><strong>Parent Phone:</strong> {{PARENTPHONE}}</p>
        </div>
      </div>

      <div class="actions">
        <div class="actions">
          <button
            class="button marks"
            onmouseover="changeButtonText(this, 'View')"
            onclick="getStudentMarksWithMax('{{USN}}')"
          >
            Marks
          </button>
          <button
            class="button attendance"
            onmouseover="changeButtonText(this, 'View')"
            onclick="getAttendance('{{USN}}')"
          >
            Attendance
          </button>
          <button
            class="button subjects"
            onmouseover="changeButtonText(this, 'View')"
            onclick="getSubjects('{{USN}}')"
          >
            Subjects
          </button>
        </div>
      </div>
    </div>
    {% include "footer.html" %}
    <script>
      // Function to handle Marks button click
      function getStudentMarksWithMax(USN) {
        var marksUrl =
          "{% url 'GetStudentMarksWithMax' %}?user_type_key=" +
          encodeURIComponent(USN);
        window.location.href = marksUrl;
      }

      // Function to handle Attendance button click
      function getAttendance(USN) {
        var attendanceUrl =
          "{% url 'GetAttendance' %}?user_type_key=" + encodeURIComponent(USN);
        console.log(USN);
        window.location.href = attendanceUrl;
      }

      // Function to handle Subjects button click
      function getSubjects(USN) {
        var subjectsUrl =
          "{% url 'GetSubjects' %}?user_type_key=" + encodeURIComponent(USN);
        window.location.href = subjectsUrl;
      }
    </script>
  </body>
</html>
