body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ff7d20;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    height: 5vh;
}

.nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown>a {
    text-decoration: none !important;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

.nav-links li {
    margin-right: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #09015f;
    min-width: 160px;
    z-index: 1;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-decoration: none !important;
}

.dropdown-content a:hover {
    background-color: powderblue;
    color: black;
}

.get-help-btn {
    background-color: #09015f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.get-help-btn:hover {
    background-color: forestgreen;
}

/* #main-div {
    background-image: url('/static/images/rnsit.jpg');
    height: 100%;
    width: 100vw;
    background-repeat: no-repeat;

} */

.logout-btn {
    background-color: #09015f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.logout-btn:hover {
    background-color: forestgreen;
}