body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ff7d20;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    height: 5vh;
}

.nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown>a {
    text-decoration: none !important;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

.nav-links li {
    margin-right: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #09015f;
    min-width: 160px;
    z-index: 1;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-decoration: none !important;
}

.dropdown-content a:hover {
    background-color: powderblue;
    color: black;
}

.get-help-btn {
    background-color: #09015f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.get-help-btn:hover {
    background-color: whitesmoke;
    color: black;
}

/* #main-div {
    background-image: url('/static/images/rnsit.jpg');
    height: 100%;
    width: 100vw;
    background-repeat: no-repeat;

} */

.logout-btn {
    background-color: #09015f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.logout-btn:hover {
    background-color: red;
}

/*changes from anoop*/

#add-student-form {
    display: none;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Style for form labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style for form inputs */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style for submit button */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style for submit button on hover */
input[type="submit"]:hover {
    background-color: #45a049;
}


/* Style for container holding the buttons */
#new-user-buttons {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    /* Adjust as needed */
}

/* Style for the buttons */
#new-user-buttons button {
    margin: 0 10px;
    /* Adjust spacing between buttons */
    padding: 15px 30px;
    /* Adjust button padding */
    font-size: 18px;
    /* Adjust button font size */
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Style for the larger blue button */
#new-user-buttons #add-faculty-button {
    background-color: #09015f;
    color: white;
    padding: 20px 40px;
    /* Adjust button padding for larger size */
    font-size: 20px;
    /* Adjust button font size */
}

#new-user-buttons #add-student-button {
    background-color: #09015f;
    color: white;
    padding: 20px 40px;
    /* Adjust button padding for larger size */
    font-size: 20px;
    /* Adjust button font size */
}

/* Admin.css */

caption {
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #09015f;
}

/* Style for the table */
table {
    font-size: x-small;
    width: fit-content;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

th,
td {
    padding: 12px 15px;
    width: max-content;
}

th {
    background-color: #09015f;
    color: white;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

/* Style for table caption */
caption {
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

/* Style for message when no lab marks data available */
#main-div p {
    font-style: italic;
    color: #666666;
    text-align: center;
    padding: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

#column-dropdown {
    width: max-content;
    margin: 0 5px;
}

#search-input {
    width: max-content;
    margin: 0 5px;
}

#ContentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    flex-direction: column;
    margin-bottom: 10vh;
    margin-top: 10px;
}