/* Errorpage.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    text-align: center;
    margin-top: 100px;
}

.container h2 {
    font-size: 36px;
    color: rgba(17, 13, 87, 0.911);
    margin:-24px 10px 10px 10px;
    padding: 10px 10px 10px 10px ;
}

.container img {
    width: 650px; /* Adjust the width to your desired size */
    height: auto;
    margin-top: 20px;
}

.container .errortype {
    font-size: 48px;
    color:#ff0000;
    margin-top: 20px;
}

.container h4 {
    font-size: 24px;
    color: rgba(17, 13, 87, 0.911);
    margin-top: 20px;
}

.container .butt {
    background-color:#f6720c;
    color: white;
    padding: 14px 20px;
    margin: 20px 100x 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.container .butt:hover {
    background-color:rgba(17, 13, 87, 0.911);
    box-shadow: 10px 10px 19px rgb(97, 88, 88);
}
