* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow-y: hidden;
}

main {
    padding: 20px;
    background-color: rgb(153, 221, 229);
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;

}

.logout-btn {
    position: fixed;
    bottom: 10%;
    right: 2%;
    background-color: #09015f;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.logout-btn:hover {
    background-color: forestgreen;
}

.maincontainer {
    width: max-content;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
    padding: 0 5%;
    height: max-content;
    position: absolute;
    top: 5%;
}

.profile-card {
    margin-right: 10%;
}

.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img img {
    width: 35%;
    height: auto;
    margin-top: 10px;
}

.profile-info {
    padding: 20px;
    text-align: center;
    width: max-content;
}

.profile-info h2 {
    margin-bottom: 10px;
    color: #343a40;
}

.profile-info ul {
    list-style: none;
    padding: 0;
}

.profile-info ul li {
    margin-bottom: 5px;
    color: #000;
}

.actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
}

.actions .card {
    background-color: #09015f;
    color: #fff;
    cursor: pointer;
}

.actions .card:hover {
    background-color: #02cccc;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    transition: .3s;

}

.button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
}

.button:hover {
    background-color: #0056b3;
}

/* background-color: #1AACAC; */