footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #09015f;
    color: #ffffff;
    padding: 3px;
    text-align: center;
    font-size: 14px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
    padding-right: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
}

.left p a{
    background-color: #ff6900;
    color: rgb(255, 255, 255);
    padding: 10%;
    border-radius: 10%;
}

a:hover {
    text-decoration: underline;
}

.arrow {
    margin-left: 5px; 
}