footer {
    position: fixed;
    width: 100vw;
    height: 3vh;
    background-color: #09015f;
    color: #ffffff;
    padding: 1% 1%;
    text-align: center;
    font-size: 14px;
    bottom: 0;
}

.footercontainer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
    padding-right: 20px;
}

.right p a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
}

.left p a {
    color: rgb(255, 255, 255);
    padding: 10%;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.arrow {
    margin-left: 5px;
}