#header {
    background-color: #09015f;
    color: #ffffff;
    padding: 20px;
    /* position: fixed; */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

h1 {
    color: whitesmoke;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-left img,
.logo-right img {
    max-height: 50px;
}

.logo-right img {
    max-width: 140px;
}

.nav-text h1 {
    margin: 0;
    text-align: center;
}