body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #0a5ba7e3;
    position: relative;
}

#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 40vw;
    top: 40vh;
}

#login-form {
    background-color: #d1e3fc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 300px;
}

#login-form input[type="email"],
#login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #dce8fa;
}

#login-form input[type="email"]:focus,
#login-form input[type="password"]:focus {
    outline: none;
    border-color: #09015f;
    background-color: whitesmoke;
}

#login-btn {
    width: 100%;
    background-color: #f86700;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login-btn:hover {
    background-color: #09015f;
}