/* Reset default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow-y: hidden;
}

main {
    padding: 20px;
    background-color: #fb9850;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.maincontainer {
    width: max-content;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
    padding: 0 5%;
    height: max-content;
}

.profile-card {
    margin-right: 10%;
}

.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img img {
    width: 30%;
    height: auto;
    margin-top: 10px;
}

.profile-info {
    padding: 20px;
    text-align: center;
}

.profile-info h2 {
    margin-bottom: 10px;
    color: #343a40;
}

.profile-info ul {
    list-style: none;
    padding: 0;
}

.profile-info ul li {
    margin-bottom: 5px;
    color: #6c757d;
}

.actions .card {
    background-color: #09015f;
    color: #fff;
    cursor: pointer;
}

.actions .card:hover {
    background-color: #fb9850;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    transition: .3s;

}

.button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
}

.button:hover {
    background-color: #0056b3;
}