
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: scroll;
}

.main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.header, .footer {
    flex: 1;
    background-color: rgba(17, 13, 87, 0.911);
}

.box {
    flex: 6;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 100%; /* Ensure the table container doesn't exceed viewport width */
}

/* Apply some basic styling to the table */
table {
    border-collapse:separate;
    font-family: Arial, sans-serif;
    font-size: smaller;
    table-layout: fixed; /* Fixed layout to prevent columns from stretching */
    width: max-content;
    height: max-content;
}
  
/* Style the table headers */
th {
    background-color: #000000;
    border: 1px solid #dddddd;
    color: white;
    text-align: left;
    padding: 8px;
    white-space: nowrap; /* Prevent text wrapping in header cells */
    
}
  
/* Style the table cells */
td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    white-space: nowrap; /* Prevent text wrapping in data cells */
}
  
/* Alternate row colors for better readability */
tr:nth-child(even) {
    background-color: rgb(209, 205, 205);
}

.lab-box{
    margin: 0;
}

.download-btn {
    position: absolute;
    bottom: 80px;
    right: 50px;
    background-color: #f6720c;
    padding: 8px 15px 10px 10px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5%;
}

.download-btn:hover {
    background-color: rgba(17, 13, 87, 0.911);
}

.fa-arrow-left {
margin: -6% 0% 0% 1%; /* Adjusted margin to move the arrow to the left */
size: 12;
position: absolute; /* Added absolute positioning */
left: 10px; /* Adjusted left position */
}

i.fa-solid.fa-arrow-left:hover {
    color: rgba(17, 13, 87, 0.911);
}

table {
border-collapse: collapse;
margin: 0 auto; /* Center horizontally */
text-align: center; /* Align content within table cells */
margin-bottom: 10px;
}


th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

#downloadButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 95px;
    cursor: pointer;
}
