body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    /* Align content in the center vertically */
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    /* Adjusted width to fill the container */
}

.download-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #09015f;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.download-btn:hover {
    background-color: #09015f;
}

table {
    font-size: x-small;
    width: fit-content;
    border-collapse: collapse;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-top: 20px;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    width: max-content;
}

th {
    background-color: #09015f;
    color: white;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    /* Adjusted width to fill the container */
}